<ion-view title="Cadastro" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/FjHz6pGXTUqzFunuHqgG_01.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="cadastro-form2" class="list ">
            <ion-list id="cadastro-list5" class=" ">
                <label class="item item-input " id="cadastro-input3" name="Nome">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Adriano Silva Teixeira">
                </label>
                <label class="item item-input " id="cadastro-input9" name="Telefone">
                    <span class="input-label">Telefone:</span>
                    <input type="text" placeholder="(32) 9 8421 5893">
                </label>
                <ion-item class="range range-balanced " id="cadastro-range1">Idade
                    <input type="range" value="18" min="13" max="90" name="Idade">
                </ion-item>
                <label class="item item-input " id="cadastro-input4" name="email">
                    <span class="input-label">E-mail:</span>
                    <input type="text" placeholder="contato@sibac.org.br">
                </label>
                <label class="item item-input " id="cadastro-input5" name="senha">
                    <span class="input-label">Senha</span>
                    <input type="text" placeholder="***">
                </label>
            </ion-list>
            <button id="cadastro-button3" class=" button button-positive  button-block icon-right ion-android-arrow-forward ">Enviar</button>
        </form>
    </ion-content>
</ion-view>