<ion-view title="Casais" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/YLhmpwFRT2GZVViyOKXK_pa1JBL4CTDuzNbfwmjwF_01.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <div>
            <h2>Missão</h2>
            Proporcionar aos casais uma reflexão acerca dos fundamentos do casamento, levando-os a basear o seu relacionamento conjugal de acordo com os preceitos deixados por Deus em Sua Palavra.
            <h2>Visão</h2>
            Levar os casais a terem um relacionamento mais profundo com Deus, sermos testemunho do poder de Deus nas famílias e falar do amor de Jesus para aqueles que ainda não O conhecem.</div>
    </ion-content>
</ion-view>