<ion-view title="Jovens" id="page7" class=" ">
    <ion-content padding="true" style="background: url(img/L2JNIqVMQsC1trmHX6eG_01.jpg) no-repeat center;background-size:cover;" class="has-header">
        
        <div>Lider: Tairone Emerich
            <br>
            <br>
            <p>
                <strong>VISÃO</strong>
                <br>Trazer&nbsp; todos os adolescentes para JESUS, conduzindo-os a uma vida de intimidade com DEUS!
                <br>
                <br>
                <strong>MISSÃO</strong>
                <br>. Envolve-los no relacionamento cristão
                <br>. Auxilia-los no processo de crescimento espiritual
                <br>. Ajuda-los no desenvolvimento dos seus dons e talentos
                <br>. integrá-los a Igreja e a comunidade em que vive
                <br>
                <br>
                <strong>ESTRATÉGIAS</strong>
                <br>. Estudos Biblicos numa linguagem jovem
                <br>. Acompanhamento pessoal, com suporte aos pais
                <br>. Ensino de musica – vocal e instrumental
                <br>. Programas esportivos, gincanas, passeios
                <br>. Participação em atividades da Igreja e Ministerio</p>
        </div>
        <div class="spacer" style="width: 300px; height: 30px;"></div>
        <ion-list id="jovens-list11" class=" ">
            <ion-item class="item-divider " id="jovens-list-item-divider5">Programação</ion-item>
        </ion-list>
        <ion-list id="jovens-list10" class=" ">
            <ion-item class="item-icon-right balanced  " id="jovens-list-item16">Sexta-feira
                <span class="item-note">Visitas</span>
                <i class="icon ion-android-alarm-clock"></i>
            </ion-item>
            <ion-item class="item-icon-right positive  " id="jovens-list-item21">Sábado
                <span class="item-note">Reunião no templo</span>
                <i class="icon ion-android-chat"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="jovens-list-item22" href="tel:">Domingo
                <span class="item-note">Culto de Adoção</span>
                <i class="icon ion-android-favorite-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>