<ion-view title="Mulheres" id="page6" class="mui-bg-dark-linear">
    <ion-content padding="true">
        
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <div>Atualmente o ministério tem organizados alguns núcleos de atuação: capelania Encontros de Mulheres; Congresso de Mulheres; Chá das Amigas Mulher Cristã em Ação (MCA) Mobilizações de engajamento: Dia Internacional da Mulher : Celebrando a vocação
            de ser Mulher Outubro Rosa:</div>
        <ion-list id="mulheres-list7" class=" ">
            <ion-item class="item-divider " id="mulheres-list-item-divider3">Programação:</ion-item>
            <ion-item class="item-icon-left assertive  " id="mulheres-list-item11">
                <i class="icon ion-ionic"></i>Segunda - Oração</ion-item>
            <ion-item class="item-icon-left calm  " id="mulheres-list-item10">
                <i class="icon ion-ios-alarm"></i>Quarta-feira - Visita</ion-item>
        </ion-list>
    </ion-content>
</ion-view>