<ion-view title="Pedidos de Oração" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pedidosDeOraO-form3" class="list ">
            <label class="item item-input " id="pedidosDeOraO-input6">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Jose da Silva">
            </label>
            <label class="item item-input " id="pedidosDeOraO-input7">
                <span class="input-label">E-mail:</span>
                <input type="text" placeholder="contato@sibac.org.br">
            </label>
            <label class="item item-input " id="pedidosDeOraO-input8">
                <span class="input-label">Telefone:</span>
                <input type="text" placeholder="9 8421 5893">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="pedidosDeOraO-toggle1" class=" ">Quero receber uma visita</ion-toggle>
            <label class="item item-input " id="pedidosDeOraO-textarea1">
                <span class="input-label">Pedido</span><textarea placeholder="Escreva seu pedido"></textarea>
            </label>
        </form>
        <button id="pedidosDeOraO-button4" class=" button button-positive  button-block icon-right ion-android-arrow-dropright-circle ">Enviar</button>
    </ion-content>
</ion-view>