<ion-view title="Quem Somos" id="page5" class="" >
    <ion-content padding="true" >
        <p id="quemSomos-markdown2" >Somos uma igreja que acredita na alegria de ser cristão, onde alguém que esteja aflito, frustrado, deprimido e confuso possa encontrar amor, aceitação, ajuda, esperança, perdão, direção e encorajamento. Não somos uma comunidade de pessoas perfeitas,
            mas que buscam em Deus a orientação e o caminho para bem viver. Assim temos a certeza de que a família é o grande projeto de Deus para a satisfação das necessidades básicas de todo ser humano. Com certeza, a Igreja de Jesus Cristo é um excelente
            local para se formar uma família. Por isso procuramos proporcionar um ambiente que gere a busca por intimidade e comunhão com Deus, impactando vidas. Um ambiente ideal onde todos possam amar e se importar uns com os outros, sem qualquer distinção,
            a fim de que sejamos uma família, FAMÍLIA DE GENTE FELIZ!</p>
    </ion-content>
</ion-view>